.header__lang-link {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.17;
    text-decoration: none;
    color: #FFFFFF;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 1.33;
    }
}