@import url(__item/photo-grid__item.css);

.photo-grid {
    max-width: 1184px;
    display: grid;
    margin: 5.75rem 48px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    flex-wrap: wrap;
}

@media (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 0.875rem;
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        margin: 88px 24px;
        max-width: 720px;
    }
}

@media (max-width: 580px) {
    .photo-grid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(12, 1fr);
        margin: 64px 16px;
        grid-gap: 0.75rem;
    }
}