@import url(__item/photo-grid__item.css);

.photo-grid {
    width: 92.5%;
    display: grid;
    margin: 5.75rem auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
}

@media (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 0.875rem;
    }
}

@media (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        margin: 5.5rem auto;
    }
}

@media (max-width: 580px) {
    .photo-grid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(12, 1fr);
        margin: 4rem auto;
        grid-gap: 0.75rem;
    }
}