.places {
    margin: 5.75rem auto;
    max-width: 984px;
}

@media (max-width: 1024px) {
    .places {
        width: 90.625%;
    }
}

@media (max-width: 768px) {
    .places {
        width: 93.75%;
        margin: 5.5rem auto;
    }
}

@media (max-width: 320px) {
    .places {
        width: 100%;
        margin: 4rem auto;
    }
}