.intro__list {
    margin: 0;
    list-style: none;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.5;
    padding: 0;
    color: #FFFFFF;
}