.cover__subtitle {
    font-style: normal; 
    font-weight: 200; 
    font-size: 18px; 
    line-height: 1.22; 
    text-align: center; 
    color: #FFFFFF;
    max-width: 360px; 
    margin: 0;
    padding-bottom: 245px; 
    z-index: 1; 
}

@media (max-width: 1024px) {
    .cover__subtitle {
        padding-bottom: 195px;
    }
}

@media (max-width: 768px) {
    .cover__subtitle {
        padding-bottom: 115px;
    }
}

@media (max-width: 690px) {
    .cover__subtitle {
        padding-bottom: 33px;
        font-size: 0.875rem;
        line-height: 1.14;
    }
}