.photo-grid__item {
    width: 100%;
    max-height: 213px;
}

@media (max-width: 1024px) {
    .photo-grid__item {
        max-height: 225px;
    }
}

@media (max-width: 768px) {
    .photo-grid__item {
        max-height: 264px;
        object-fit: cover;
        object-position: top;
    }
}

@media (max-width: 320px) {
    .photo-grid__item {
        min-height: 216px;
    }
}