@import url(__logo/header__logo.css);
@import url(__links/header__links.css);
@import url(__lang-link/header__lang-link.css);
@import url(__lang-link/_ru/header__lang-link_ru.css);

.header {
    max-width: 92.5%;
    max-height: 52px;
    padding-top: 1.75rem;
    margin-left: 3.75%;
    margin-right: 3.75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 320px) {
    .header {
        max-height: 42px;
    }
}