.footer__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.12;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
}

.footer__link:hover {
    opacity: 0.3;
}

@media (max-width: 580px) {
    .footer__link {
        padding-bottom: 32px;
        margin: 0;
        font-size: 24px;
        line-height: 1;
    }
}