.place__paragraph {
    margin-top: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.67;
    color: #FFFFFF;
    max-width: 456px;
    margin-bottom: 0;
}

@media (max-width: 910px) {
    .place__paragraph {
    font-size: 1rem;
    line-height: 1.62;
    max-width: 352px;
    }
}

@media (max-width: 650px) {
    .place__paragraph {
    max-width: 100vw;
    }
}

@media (max-width: 320px) {
    .place__paragraph {
    width: 90%;
    margin: 0 auto;
    }
}