.intro__text {
    margin-bottom: 2rem;
    margin-top: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.62;
    color: #FFFFFF;
}