.intro__text {
    width: 690px;
    height: 208px;
    margin-bottom: 32px;
    margin-top: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.62;
    color: #FFFFFF;
}