@import url(__title/intro__title.css);
@import url(__text/intro__text.css);
@import url(__list/intro__list.css);
@import url(__span/intro__span.css);

.intro {
    margin: 114px 0 92px 11.5%;
    max-width: 720px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .intro {
        margin-right: 17.875rem;
        margin-left: 3rem;
    }
}

@media (max-width: 768px) {
    .intro {
        margin: 5.5rem auto;
    }
}

@media (max-width: 725px) {
    .intro {
        width: 90%;
        margin: 4rem auto;
    }
}