@import url(__title/cover__title.css);
@import url(__subtitle/cover__subtitle.css);


.cover {
    width: 1184px;
    height: 740px;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    margin: 92px 48px;
    opacity: 0.8;
    background-color: #2A2C2F;
}

.cover:hover {
    opacity: 0.3;
    cursor: pointer;
}