@import url(__title/cover__title.css);
@import url(__subtitle/cover__subtitle.css);
@import url(__background/cover__background.css);
@import url(__overlay/cover__overlay.css);
@import url(__link/cover__link.css);


.cover {
    width: 92.5%;
    margin: 5.75rem auto;
    box-sizing: content-box;
    position: relative;
}

.cover:hover .cover__background {
    opacity: 0.3;
}

@media (max-width: 1024px) {
    .cover {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .cover {
        margin: 5.5rem auto;
    }
}

@media (max-width: 320px) {
    .cover {
        margin: 4rem auto;
    }
}