@import url(__link/cover__link.css);
@import url(__title/cover__title.css);
@import url(__subtitle/cover__subtitle.css);

.cover {
    max-width: 1184px;
    margin: 5.75rem auto 0;
}

@media (max-width: 1024px) {
    .cover {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .cover {
        margin: 5.5rem auto;
    }
}

@media (max-width: 320px) {
    .cover {
        margin: 4rem auto;
    }
}