.cover__overlay {
    width: 100%;
    min-height: 740px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 1024px) {
    .cover__overlay {
      min-height: 640px;
    }
  }

  @media (max-width: 768px) {
    .cover__overlay {
      min-height: 480px;
    }
  }

  @media (max-width: 627px) {
    .cover__overlay {
      min-height: 200px;
    }
  }

  