.cover__title {
    text-align: center;
    padding: 15.3125rem 19.5rem 0;
    margin-bottom: 2rem;
    margin-top: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 1.06;
    color: #FFFFFF;
}

@media (max-width: 1024px) {
    .cover__title {
        padding: 12.1875rem 14.5rem 0;
    }
}

@media (max-width: 768px) {
    .cover__title {
        padding: 7.1875rem 6.5rem 0;
    }
}

@media (max-width: 627px) {
    .cover__title {
        padding: 2.0625rem 1rem 0;
        margin-bottom: 1rem;
        font-size: 2rem;
        line-height: 1.09;
    }
}