.cover__title {
    font-style: normal; 
    font-weight: 900; 
    font-size: 72px; 
    line-height: 1.06; 
    text-align: center; 
    max-width: 560px;  
    color: #FFFFFF;
    margin: 0; 
    padding-top: 245px; 
    z-index: 1; 
}

@media (max-width: 1024px) {
    .cover__title {
        padding: 12.1875rem 14.5rem 0;
    }
}

@media (max-width: 768px) {
    .cover__title {
        padding: 7.1875rem 6.5rem 0;
    }
}

@media (max-width: 627px) {
    .cover__title {
        padding: 2.0625rem 1rem 0;
        margin-bottom: 1rem;
        font-size: 2rem;
        line-height: 1.09;
    }
}