@import url(__flex-header/place__flex-header.css);
@import url(__title/place__title.css);
@import url(__website/place__website.css);
@import url(__url-heading/place__url-heading.css);
@import url(__link/place__link.css);
@import url(__flex-footer/place__flex-footer.css);
@import url(__image/place__image.css);
@import url(__paragraphs/place__paragraphs.css);
@import url(__paragraph/place__paragraph.css);
@import url(__paragraph/_top/place__paragraph_top.css);

.place {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

@media (max-width: 768px) {
    .place {
    margin-bottom: 4.5rem;
    }
}

@media (max-width: 320px) {
    .place {
    margin-bottom: 3rem;
    }
}