@import url(../footer/__navigate/footer__navigate.css);
@import url(../footer/__links/footer__links.css);
@import url(../footer/__link/footer__link.css);
@import url(../footer/__copyright/footer__copyright.css);

.footer {
    max-width: 1184px;
    margin: 92px 48px 0;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .footer {
        margin: 92px 24px 0;
    }
}

@media (max-width: 768px) {
    .footer {
        margin-top: 88px;
    }
}

@media (max-width: 710px) {
    .footer {
        flex-direction: column;
        margin: 64px 118px 0 16px;
    }
}