.intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 1.07;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: 0;
}

@media (max-width: 320px) {
    .intro__title {
        font-size: 2rem;
        line-height: 1.09;
    }
}